:root {
  --colorgreen--: #5ca720;
  --colorbtnHover--: #512200bd;
  --clrFtBorder--: #f9f9f9;
  --clrgray--: #a5a1a1;
  --hoverimg--: #5ca720b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 20%;
  left: 0;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  width: 100%;
  transition: 0.3s linear;
}
.menu.fixednav {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  height: 50px;
  z-index: 1;
}
.menu a {
  margin-left: 30px;
}

.menu .btnNav {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  margin-right: 50px;

}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 5px;

}

#buscar {
  height: 30px;
  width: 100%;
  display: none;

  outline: none;
  padding-left: .3rem;
  background-color: #fff;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  border: 0.5px solid #d9d9d9;
}

#buscar:focus{

  border: 1.1px solid var(--colorgreen--);
}

.menu button {
  cursor: pointer;
  border: none;
  background: none;
}



section .titleSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 35px;

  border-bottom: 1px solid var(--clrgray--);
}

section .containerProducts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.containerProducts .boxProducts {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.headerCard {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.headerCard::before,
.headerCard::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hoverimg--);
  opacity: 0;
  transition: transform 1s linear;
}

.headerCard:hover::before,
.headerCard:hover::after {
  transform: translateY(-80%);
  opacity: 0.9;
  transition-delay: .8s;
}

.headerCard .description {
  display: none;
  position: absolute;

  bottom: 240px;
  left: 0;
  width: 100%;
  height: 240px;

  padding: 10px;
  opacity: 0;
  /* transition: 5s ease; */
}

.headerCard .description h6,
.headerCard .description ul {
  visibility: hidden;
  opacity: 0;
}

.headerCard:hover .description {
  height: 240px;
  bottom: 240px;
  display: block;
  opacity: 1;
  background-color: #fff;
  transform: translateY(100%);
}

.headerCard:hover .description h6 {
  text-align: center;
  margin-block: 20px;
  visibility: visible;
  opacity: 1;
  color: #000;
  font-size: 1rem;
}
.headerCard .description p {
  list-style: none;
  width: 100%;
  visibility: visible;
  bottom: 240px;
  color: #000;
  text-align: justify;
  opacity: 1;
}

.boxProducts h4 {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.boxProducts h5 {
  margin-block: 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.boxProducts span {
  color: var(--colorgreen--);
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--colorgreen--);
}

.boxProducts .btnComprar {
  cursor: pointer;
  width: 160px;
  height: 45px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-radius: 15px;
  background-color: #5ca720;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boxProducts .btnComprar:hover {
  background-color: var(--colorbtnHover--);
  transition: 0.4s ease-in-out;
}


footer {
  border-top: 1px solid var(--clrgray--);
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--clrFtBorder--);
}

.containerTextAndNew {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textFooter {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 1rem;
}
.textFooter a {
  text-decoration: none;
  color: #000;
  margin-top: 11px;
  font-weight: 600;
}

.newsletter {
  width: 30%;

  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.newsletter h5 {
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.controlInput {
  width: 100%;
  display: flex;
}
.controlInput input {
  width: 70%;
  outline: none;

  font-size: 1.1rem;
  font-weight: bold;

  background-color: #fff;
  border-radius: 0.3125rem 0rem 0rem 0.3125rem;
  border: 0.5px solid #d9d9d9;
}
.controlInput input::placeholder {
  color: var(--clrgray--);
  padding-left: 5px;
  font-size: 1rem;
}
.controlInput input:focus {
  border: 1px solid var(--colorgreen--);
}

.controlInput #inscrever {
  cursor: pointer;
  width: 140px;
  height: 50px;

  font-size: 1.3rem;
  font-weight: bold;

  color: #fff;
  background-color: var(--colorgreen--);
  border: none;
  border-radius: 0rem 0.3125rem 0.3125rem 0rem;
  opacity: 1;
}

.controlInput #inscrever:hover {
  opacity: 0.9;
}

.containerSocialPay {
  border-top: 1px solid var(--clrgray--);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialFooter {
  margin: 20px 30px;
}
.socialFooter a {
  margin-inline: 10px;
}
.paymentsFooter {
  margin: 50px 90px;
}

/* Responsividade */
@media only screen and (min-width: 320px) and (max-width: 680px) {

  .menu .btnNav {
    margin-right: 0;
    width: 65%;
    justify-content: center;
    gap: 30px;

  }

  #buscar{

    width: 100%;
    font-size: .9rem;
  }

  .containerTextAndNew{
    width: 90%;
    flex-direction: column;
    align-items: start;
  }
  .newsletter{
    width: 80%;
    margin-left: 30px;
  }
  .controlInput{
    width: 100%;
    flex-direction: column;

  }
  .controlInput input{
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
  }
  .controlInput #inscrever{
    width: 100%;
    margin-bottom: 30px;
  }
  .containerSocialPay{
    width: 100%;
  }
  .paymentsFooter {

    display: flex;
    margin: 0px 20px;

  }
  .paymentsFooter img{

    width: 100%;
  }
  .socialFooter img{
    margin-top: 10px;
  }
}

@media only screen and (min-width: 681px) and (max-width: 920px){

  .menu .btnNav{
    width: 50%;

  }
  .containerTextAndNew{
  flex-direction: column;
  align-items: flex-start;
  }
  .newsletter{
    width: 80%;

    margin-left: 30px;
    margin-bottom: 20px;
  }
  .controlInput{
    width: 80%;

    flex-direction: column;
  }
  .controlInput input{
    width: 100%;
    height: 40px;
  }
  .controlInput #inscrever{
    width: 100%;
    margin-block: 20px;
  }
}

@media only screen and (min-width: 921px) and (max-width:1280px){
  .menu .btnNav{
    width: 45%;
    
  }
  .newsletter{

    margin-right: 30px;
  }
  .controlInput{
    flex-direction: column;
    width: 100%;
  }
  .controlInput input{
    width: 100%;
    height: 40px;
    margin-bottom: 11px;
  }
  .controlInput #inscrever{
    width: 70%;
  }
}